*{
    margin:0;
    padding:0;
    text-decoration: none;
}
.container{
    display:flex;
    /* align-items: flex-end; */
}
main{
    width:max-content;
    padding-top: 0px;
    /* margin: 20px; */
}
.sidebar{
    background: #000;
    color: #fff;
    height: 100vh;
    width: 300px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
    background-color: black;
    padding: 10px 23px;
    border-radius: 100%;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background: rgb(189, 170, 28);
    color: #000;
    transition: all 0.5s;
}
.active{
    background: rgb(249, 220, 5);
    color: #000;
}
.icon{
    padding-top: 5px;
    font-size: 20px;
    
}

.link_text{
    font-size: 20px;
    font-weight: 700;
    
}

